<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change Password Here</title>
    {% extends 'base.html' %}
    {% block title %}
          Change Password
    {% endblock %}

    {% block content %}
    <h1> Change Password </h1>
    <br/></br>

    <div class="form-group">
         <form method="POST">
             {% csrf_token %}
             {{ form.as_p }}
             <button class="btn btn-seconday"> Change Password </button>
         </form>
    </div>

    {% endblock %}

</head>
<body>

</body>
</html>